@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.woff2') format('woff2'), url('../fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #000;
  background: #fff;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: 'Century Gothic', sans-serif;
}

h2 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 36px;
  line-height: 36px;
}

ul {
  list-style: none;
}

li {
  height: 43px;
  font-size: 20px;
  padding-left: 60px;
  margin-bottom: 24px;
  line-height: 43px;
  font-family: 'Century Gothic', sans-serif;
}

main {
  width: 100%;
}

.wrapper {
  max-width: 890px;
  margin: 0 auto;
  height: 528px;
}

.wrapper h2 {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 42px;
}

/*SLIDER NEW*/

.slideshow-container {
  width: 100%;
  max-height: 320px;
  margin-top: 0;
  position: relative;
}

.slides {
  display: none;
  width: 100%;
}

.cont {
  margin: 0 auto;
  max-width: 690px;
  display: flex;
  justify-content: space-around;
}

figcaption {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  line-height: 50px;
  background: #f0f0f0;
  margin-top: -4px;
}

.prev, .next {
  position: absolute;
  cursor: pointer;
  top: 40%;
  margin: 0 12px;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  opacity: 0.7;
}

.navdots {
  width: 100%;
  margin-top: 27px;
  margin-bottom: 78px;
  display: flex;
  justify-content: center;
}

.dots {
  width: 11px;
  height: 11px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5.5px 0 5.5px;
  border: 2px solid #007f3a;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4
  }
  to {
    opacity: 1
  }
}

.active, .dots:hover {
  background: #007f3a;
}

/* Section-2 */

.section-2 {
  height: 563px;
  background: #f0f0f0;
}

.section-2 h2 {
  padding-top: 38px;
  padding-bottom: 34px;
  text-align: center;
}

.backarea {
  position: relative;
  bottom: 0;
  height: 563px;
  background: url('../img/backimg.png') no-repeat;
  background-position: center;
}

.listarea {
  margin: 0 auto;
  display: flex;
  max-width: 860px;
  justify-content: space-between;
}

.list-1 li:first-child {
  background: url(../img/icons.png) 0 0 no-repeat;
}

.list-1 li:nth-child(2) {
  background: url(../img/icons.png) 0 -66px no-repeat;
}

.list-1 li:nth-child(3) {
  background: url(../img/icons.png) 0 -127px no-repeat;
}

.list-1 li:nth-child(4) {
  background: url(../img/icons.png) 0 -197px no-repeat;
}

.list-1 li:last-child {
  background: url(../img/icons.png) 0 -260px no-repeat;
}

.list-2 li:first-child {
  background: url(../img/icons.png) 0 -312px no-repeat;
}

.list-2 li:nth-child(2) {
  background: url(../img/icons.png) 0 -377px no-repeat;
}

.list-2 li:nth-child(3) {
  background: url(../img/icons.png) 0 -444px no-repeat;
}

.list-2 li:nth-child(4) {
  background: url(../img/icons.png) 0 -506px no-repeat;
}

.list-2 li:last-child {
  background: url(../img/icons.png) 0 -570px no-repeat;
}

/* Section - 3 */

.container {
  max-width: 1172px;
  margin: 0 auto;
}

.section-3 h2 {
  margin-top: 34px;
  margin-bottom: 26px;
  text-align: center;
}

.video {
  position: relative;
  padding-bottom: 43.42%;
  height: 0;
}

.video img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  cursor: pointer;
}

.video:after {
  content: "";
  position: absolute;
  display: block;
  background: url('../img/play-button.png') no-repeat 0 0;
  background-size: 100% 100%;
  top: 41.93%;
  left: 46.5%;
  width: 7%;
  height: 16.14%;
  z-index: 30;
  cursor: pointer;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video.player img {
  display: none;
}

.video.player:after {
  display: none;
}

.button {
  height: 41px;
  width: 303px;
  line-height: 41px;
  margin: 54px auto 59px auto;
  text-align: center;
  display: block;
  color: #000;
  background: #ffcc00;
  border-bottom: 2px solid #e0b402;
  border-radius: 20.5px;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
  font-size: 15px;
  font-weight: bold;
}

.section-3 a:active {
  margin-top: 56px;
  border-bottom: none;
}

/* popup*/

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: fixed;
  cursor: default;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  top: 0;
  right: 0;
  left: 50%;
  z-index: 10000;
  width: 100%;
  min-width: 240px;
  max-width: 400px;
  position: fixed;
  border: 3px solid #007f3a;
  min-height: 200px;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -o-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -webkit-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  -o-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  -webkit-transition: transform 0.6s ease-out;
  -moz-transition: transform 0.6s ease-out;
  -ms-transition: transform 0.6s ease-out;
  -o-transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
}

.overlay:target+.popup {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input:required, textarea:required {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/** inputs and textarea**/

input:not([type="submit"]), textarea {
  outline: none;
  display: block;
  width: 95%;
  padding: 4px 8px;
  border: 1px solid #DBDBDB;
  color: #3F3F3F;
  font-family: 'Century Gothic', Tahoma, Arial, Verdana sans-serif;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background 0.2s linear, box-shadow 0.6s linear;
  -moz-transition: background 0.2s linear, box-shadow 0.6s linear;
  -o-transition: background 0.2s linear, box-shadow 0.6s linear;
  transition: background 0.2s linear, box-shadow 0.6s linear;
}

input:not([type="submit"]):active, textarea:active, input:not([type="submit"]):focus, textarea:focus {
  background: #F7F7F7;
  -webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
  -moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
  box-shadow: 2px 2px 7px #E8E8E8 inset;
}

input:not([type="submit"]) {
  height: 20px;
}

/* placeholder */

::-webkit-input-placeholder {
  color: #BABABA;
  font-style: italic;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #BABABA;
  font-style: italic;
}

/** labels**/

.iconic:before {
  font-size: 25px;
  font-family: 'Century Gothic', Verdana, serif;
}

.iconic.mail-alt:before {
  content: "M";
}

label {
  color: #7F7E7E;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

label:hover {
  color: #191919;
}

label:before {
  color: #C1BFBD;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

label:hover:before {
  color: #969696;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

p {
  margin-bottom: 20px;
}

.required {
  color: #ffcc00;
}

/** Styling the send button **/

input[type=submit] {
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-family: 'Century Gothic', serif;
  font-weight: bold;
  color: #000;
  font-size: 13px;
  padding: 10px 4px;
  background: #ffcc00;
  border-bottom: 2px solid #e0b402;
  border-radius: 20.5px;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}

input[type=submit]:hover {
  background: #ffd800;
}

input[type=submit]:active, input[type=submit]:focus {
  border: none;
  margin-top: 2px;
  outline: none;
}

.close {
  position: absolute;
  padding: 0;
  top: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  border: 2px solid #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  -webkit-transition: background-color ease .7s;
  -moz-transition: background-color ease .7s;
  -ms-transition: background-color ease .7s;
  -o-transition: background-color ease .7s;
  transition: background-color ease .7s;
}

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: '\2715';
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
}

.close:hover {
  background-color: rgba(252, 20, 0, 0.8);
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .popup {
    width: 95%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .popup {
    width: 75%;
  }
}

/* Mobile first */

@media screen and (max-width: 886px) {
  .section-2 {
    min-height: 900px;
    background: #f0f0f0;
  }
  .listarea {
    flex-direction: column;
    margin-left: 3%;
  }
  .backarea {
    position: relative;
    bottom: 0;
    min-height: 563px;
    background: none;
  }
}

@media screen and (max-width: 790px) {
  .wrapper {
    max-height: auto;
  }
  .slides {
    width: 100%;
  }
  .cont {
    justify-content: center;
  }
  figure img {
    width: 100%;
    height: auto;
  }
  figcaption {
    width: 100%;
  }
}

@media screen and (max-width: 542px) {
  .prev, .next {
    top: 35%;
  }
}

@media screen and (max-width: 442px) {
  .slideshow-container {
    height: auto;
  }
  .wrapper {
    height: auto;
  }
  .prev, .next {
    top: 30%;
  }
  .list-1 li:last-child {
    line-height: 21.5px;
  }
  .list-2 li:nth-child(4) {
    line-height: 21.5px;
  }
}

@media screen and (max-width: 390px) {
  .list-1 li:nth-child(4) {
    line-height: 21.5px;
  }
}
